<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="GET">
    {% csrf_token %}
    Start <input type="text" name="start" value="{{ request.GET.start }}">
    Destenation <input type="text" name="destenation" value="{{ request.GET.destenation }}">
    <input type="submit" value="search">
</form>
{% for item in queryset %}
    {{ item.soldout }}
        <li><a href="show/{{item.id}}">{{item.title}}</a></li>
{% endfor %}
{% if queryset|length == 0 %}
    no routs faind
{% endif %}
</body>
</html>